.bg-white{
     background-color: white;
}

#sidebar{
     background-image: url("../assets/img/sidebar-bg.png");
     background-size: cover;
     width: 70px;
     height: 100%;

}

.bg-sidebar{
     background-color: #051e34;
}

#main-top{
     background-color: #1b72e8;
     width: 100%;
     
}

.bg-button-blue{
     background-color: #165bba;
}

.webapp{
     height: 100vh;
     width: 100%;
}

main{
     width: 100%;
     height: 100%;
     margin-left: 70px;
}

nav{
     width: 100%;
     height: 70px;
}

#bottom-area{
     height: 100%;
     width: 100%;
     margin-top: 70px;
     
}


body{
     background-color: #f8f9fa;
}

.bg-titolo-tabelle{
     background-color: #f7f7f7;
}

.img-tabella{
     width: 40px;
     color: white;
}

#btn-sidebar:hover{
     background-color: grey;
}

.dropdown-toggle::after{
     display: none;
}

.fa-solid.fa-bell{
     vertical-align: super;
}

.btn-admin{
     bottom: 70px;
}

#offcanvasRight{
     width: 100% ;
}

@media screen and (min-width: 992px) {
     #sidebar{
          width: 150px;
     }

     main{
          margin-left: 150px;
     }

     #offcanvasRight{
          width: 40%;
     }


     
}

